#navigateTo,
#pageIndex {
  height: 35px;
}

#pageIndex {
  width: 40px;
  box-sizing: border-box;
}

.outlined {
  overflow: visible !important;
}

.inline_label {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  & > label {
    margin-bottom: 0;
  }
}

.action_btn_group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table_container {
  position: relative;

  .table_btn {
    position: absolute;
    left: 11px;
    bottom: 11px;
    z-index: 1;
  }
}

.table_budget_delete_btn {
  font-size: 26px;
  color: #6c757d;

  &:hover {
    color: #5a6268;
  }
}

#budget_edit_table,
#budget_add_table {
  & > .smart-container {
    overflow: visible;
  }
  th {
    overflow: visible;
  }
}

.budget_add_input {
  z-index: 1;
}

.table_budget_add_btn {
  color: #007bff;
  font-size: 26px;
  &:hover {
    color: #0069d9;
  }
}
