.table_construction_delete_btn {
  font-size: 26px;
  color: #6c757d;

  &:hover {
    color: #5a6268;
  }
}

.table_name_add_input {
  width: 100%;
}

.table_construction_add_btn {
  color: #007bff;
  font-size: 26px;
  &:hover {
    color: #0069d9;
  }
}
